<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
<head>
<title>KONOU Akakpo Domefa </title>
<meta http-equiv="Content-Type" content="text/html;
 X charset=iso-8859-1" />
<link rel="stylesheet" media="screen" type="text/css" 
 X title="Design espace" href="style.css" />
</head>
<body>
<div id="Profil"> 
<!-- <p> <img src="profil.jpg" alt="Photo de profil" /> </p>  -->

    </div>
<div id="couverture"> <h1> <br /> KONOU Akakpo Domefa <div id="partblog"> <a class="blog" href="Blog.html"> Blog </a>  <a class="blog" href="contact.html"> Contact </a> </div> <br /> Ingénieur Statisticien Economiste <br /> Formation de base Mathématicien </h1> </div>
<div id="menu_principal"> 
       <a class="barnav" href="index.html"> Accueil </a>
	   <a class="barnav" href="formation.html">Formation </a>
	   <a class="barnav" href="compétence.html">Compétence </a>
	   <a class="barnav" href="Services.html"> Services </a>
	   <a class="barnav" href="publication.html"> publication </a>
	   <a class="barnav" href="loisirs.html"> loisirs </a>
	   <a class="barnav" href="contacter.html"> Nous contacter </a>
	   
</div>
 
<div id="menu_gauche">

<ul>
<li><a href="index.html"> Issea </a> </li>
<li><a href="index.html"> Université de Lomé </a> </li>
<li><a href="index.html"> Inseed </a> </li>
</ul>
 </div>
 
<div id="corps">
<p> <img src="photo2.jpg" alt="Photo de remise de diplome" /> </p>

<p> Une fois votre site sur pied, vous aurez certainement envie d’y laisser votre
adresse e-mail pour que vos nombreux  fans en délire puissent vous dire
combien ils vous admirent. Ça tombe bien, le XHTML a prévu votre cas !
On peut en effet créer un lien ouvrant une fenêtre de composition d’un
nouvel e-mail dans le logiciel de messagerie (comme Thunderbird). Cet
e-mail sera automatiquement rempli avec votre adresse en destinataire, si
bien que vos visiteurs n’auront plus qu’à rédiger leur message et à cliquer
sur le bouton Envoyer. </p>
<p>
Ce type de lien se crée exactement de la même façon qu’un lien vers une
page web, à la différence près que le contenu de l’attribut href doit cette
Une fois votre site sur pied, vous aurez certainement envie d’y laisser votre
adresse e-mail pour que vos nombreux  fans en délire puissent vous dire
combien ils vous admirent. Ça tombe bien, le XHTML a prévu votre cas !
On peut en effet créer un lien ouvrant une fenêtre de composition d’un
nouvel e-mail dans le logiciel de messagerie (comme Thunderbird). Cet
e-mail sera automatiquement rempli avec votre adresse en destinataire, si
bien que vos visiteurs n’auront plus qu’à rédiger leur message et à cliquer
sur le bouton Envoyer.</p>
<p>
Ce type de lien se crée exactement de la même façon qu’un lien vers une
page web, à la différence près que le contenu de l’attribut href doit cetteUne fois votre site sur pied, vous aurez certainement envie d’y laisser votre
adresse e-mail pour que vos nombreux  fans en délire puissent vous dire
combien ils vous admirent. Ça tombe bien, le XHTML a prévu votre cas !
On peut en effet créer un lien ouvrant une fenêtre de composition d’un
nouvel e-mail dans le logiciel de messagerie (comme Thunderbird). Cet
e-mail sera automatiquement rempli avec votre adresse en destinataire, si
bien que vos visiteurs n’auront plus qu’à rédiger leur message et à cliquer
sur le bouton Envoyer.</p>

 </div>


<div id="menu_droit">
     <div id="search">
    <form action="#">
      <label>search</label>
      <input name="searchFor" type="text" size="15" />
      <input name="goButton" type="submit" value="go" />
    </form>
  </div>
<ul>
<li><a href="mailto:a.konou@yahoo.fr">Envoyez-moi <br/> un message !</a> </li>
<li><a href="mailto:a.konou@yahoo.fr">Facebook !</a> </li>
<li><a href="mailto:a.konou@yahoo.fr">linkedin !</a> </li>
<li><a href="mailto:a.konou@yahoo.fr"> ok !</a> </li> <br />
<p> <img src="photo1.jpg" alt="Photo de remise de diplome" /> </p> 
</ul>
 </div>
 
<div id="pied_de_page">
<p>Code et Design par KONOU. 2016.<br />
N'hésitez pas à <a 
href="mailto:celestin@email_bidon.fr">me contacter</a> si vous 
voulez discuter amplement !</p>

 </div>
</body>
</html>
